.homepage #catAbb,
.homepage #go,
.homepage .leftlinks #cl_app_beta,
.no-js,
p.more {
  display: none;
}



* {
  font-family: 'Helvetica Neue', 'Helvetica', 'sans-serif';
  background-color: #F5F5F5;
  color: #464646;
}

a {
  text-decoration: none;
}

a:hover, a span:hover {
  color: #800080;
  font-weight: bold;
}

a:visited {
  color: #800080;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

.page-container {
  max-width: 1200px;
}


#leftbar, #center, #rightbar {
  box-sizing: border-box;
  padding: 0px 30px;
  float: left;
}

footer {
  clear: both;
}

ul.clfooter {
  text-align: center;
  border-top: 1px solid grey;
  padding: 10px 0px;
}

ul.clfooter li {
  display: inline;
  padding-right: 5px;
}

h4.ban::before {
  content: "☮️ ";
}

#leftbar, #rightbar {
  width: 25%;
}

#center {
  width: 50%;
  border: 1px solid #464646;
  border-radius: 10px;
}

#center > div {
  float: left;
  width: 33.333333333333%;

}

#topban h2 {
  text-align: center;
}

td {
  border: 1px solid #333;
  text-align: center;
}

.cal {
  border-collapse: collapse;
  color: rgba(0, 0, 0, 0.5);
}

.cal a {
  font-weight: bold;
  color: green;
}
.cal .past {
  cursor: not-allowed;
}

.today a {
  background-color: darkviolet;
  color: whitesmoke;
}







#logo {
  font-size: 2.5rem;
}

.homepage-search .querybox {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid #464646;
  font-size: 16px;
}

.menu.collapsible > li {
  cursor: pointer;
}

.menu.collapsible > li.expand.s ul {
  display: block;
}

.menu.collapsible > li ul {
  display: none;
}

/* Write your CSS here. */
